li{
    list-style: none;
}
.icone-link{
    width: 24px;
}
.link-style{
    color: #444;
    text-decoration: none;
}
.link-style:hover{
    background-color: rgba(255, 255, 255, 0.8);
}
.copyright{
    color:  rgba(255, 255, 255, 0.8);
    padding: 10px;
}
.button-back{
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none
}